body{
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.container_head, .container_main, .container_footer {
    border: solid 1px black;
    margin-bottom: 5px;
}
.container_main{
    min-height: 300px;
}
.container_head, .container_footer {
    min-height: 60px;
}